HOST=127.0.0.1
PORT=8000

DB_URL=mysql://user:user@127.0.0.1:3306/todo_project

PASSWORD_SALT=2
JWT_SECRET=secretkey

MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=b1156f3a00b44e
MAIL_PASSWORD=d834150e7964d4
MAIL_ENCRYPTION=false
MAIL_FROM_ADDRESS=from@example.com
MAIL_FROM_NAME=Example

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="postgresql://todo:project@localhost:5432/todo_project?schema=public"